<!-- Sessions Absent -->
<div class="modal" id="accessGeneralModal">
    <div class="modal-background"></div>
    <div class="modal-card box-width">
            <header class="modal-card-head">
              <p class="modal-card-title">Access General</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                    <table>
                            <tr class="individualSessionHead">
                                <th>Reason</th>
                                <th>Date</th>
                            
                            </tr>
                        <% for(var i=0; i < accessGeneral.length; i++) { %>
                                <tr class="individualSession">
                                  <td><%= (accessGeneral[i])[0] // active state %> </td>
                                  <td><%= (accessGeneral[i])[3] %></td>
                                  <td></td>
                                </tr>
                             <% } %>
                    </table>
            </section>
          </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>