<html>
  <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
  </head>
<br>
  <div class="container is-fluid">
      <div class="buttons are-medium">
          <a onClick="javascript:history.go(-1)" class="button">Go Back</a>
        </div>
      </div>
<br>
<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Something went wrong :(
        </h1>
        <h2 class="subtitle">
            Please check your file is is a CSV that is in the correct format. <br><br>
        </h2>
      </div>
    </div>
  </section>
  <br>

  </body>
</html>